@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/sandbox/SBAggro.css');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Giants-Inline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*  Reset CSS  */
* { margin:0;  padding:0;}
em{font-style: normal;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;
    width: 100%;
    height: 100%;
    
}

body {background-image: url(img/bw2.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}





/* header 설정 */
header {width: 100%;
    height: 150px;
    margin: 0 auto;
    background-color: #fff;
    transition: all 1s;
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    z-index: 99;
    
}
header.smallheader {width: 85%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: rgba( 255, 255, 255, 0.9 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header>div {
    height: 100%;
    color: #222;
    font-family: 'GmarketSans';
    font-weight: 300;
}
header>div:nth-child(1) {width: 30%;}
header>div:nth-child(2) {width: 70%;}
header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 50px;
    font-size: 35px;
    font-weight: 700;
}
header .gnb {
    font-size: 25px;
    transition: all 1s;
}
header .gnb ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .gnb ul li {
  position: relative;
}
header .gnb ul li a { width: 100%;
  height: 100%;
}
header .gnb ul li a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
.gnb ul li a:hover:after, .gnb ul li a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.gnb .mobile {display: none;}


header.smallheader>div:nth-child(1) {width: 40%;}
header.smallheader>div:nth-child(2) {width: 60%;}
/* 메인설정 */
main {width: 100%;
    height: 700vh;
  position: relative;
    /* background-color: antiquewhite; */
}
main>section {width: 100%;
    height: 100vh;
    position: absolute;
}

.btn:hover {
  top:7%
}
article {width: 100%;
  position: absolute;
  left: 0;
  top: -5%;
  color: #fff;
 perspective: 1000;
}
article p {width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: 'Giants-Inline';
}

.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-11 11:42:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(50%) translateY(0);
            transform: translateZ(50%) translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(450%);
            transform: translateZ(0) translateY(450%);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(50%) translateY(0);
            transform: translateZ(50%) translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(450%);
            transform: translateZ(0) translateY(450%);
    opacity: 1;
  }
}


.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: blur-out-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 2s;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-11 11:36:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blur-out-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
/* profile 설정 */
.prof {
  left: 0;
  top: 15%;
}
.profile {width: 85%;
    height: 110vh;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    font-family: 'SBAggro';
    font-weight: 300;
    color: #629CCE;
    overflow: hidden;
}
.profile .text {width: 600px;
height: 700px;
position: relative;
}
.text {font-size:40px;}
.text span:nth-child(1) {
  position: absolute;
  left: 20%;
  top: 20%;
  animation: txt_blur 2.5s infinite alternate ease-in;}

.text span:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 40%;
  animation: txt_blur 3.5s infinite alternate ease-in;}

  .text span:nth-child(3) {
    position: absolute;
    left: 25%;
    top: 55%;
    animation: txt_blur 2s infinite alternate ease-in;}
    .text span:nth-child(4) {
      position: absolute;
      left: 25%;
      top: 80%;
      animation: txt_blur 3s infinite alternate ease-in;}
      .text span:nth-child(5) {
        position: absolute;
        left: 75%;
        top: 70%;
        animation: txt_blur 2.5s infinite alternate ease-in;}

@keyframes txt_blur {
  0% {
  filter:blur(7px);
  -moz-filter:blur(7px);
  -webkit-filter:blur(7px);
  opacity: 0;
  }
  30% {
  filter:blur(3px);
  -moz-filter:blur(3px);
  -webkit-filter:blur(3px);
  opacity: 0.1;
  }
  100% {
  filter:blur(0);
  -moz-filter:blur(0);
  -webkit-filter:blur(0);
  opacity: .9;
  }
}

.profile .pic {width: 330px;
  height: 360px;
  position: absolute;
  left: 50%;
  margin-left: -165px;
  top: 14%;
}
.skill {width: 400px;
  height: 500px;
  position: absolute;
  right: 3%;
  top: 15%;
  border: 2px solid #629CCE;
  border-radius: 28px;
}
.skill p {width: 100px;
  height: 30px;
  position: absolute;
  left: 5%;
  top: -3%;
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  
}
.skill>img {width: 100px;
  height: 100px;
  
  box-sizing: border-box;
  position: absolute;
}
.skill .html {
  left: 7%;
  top: 10%;
}
.skill .css {
  left: 38%;
  top: 10%;
}
.skill .js {
  left: 70%;
  top: 10%;
}
.skill .uni {
  left: 7%;
  top: 40%;
}
.skill .r {
  left: 38%;
  top: 40%;
}
.skill .photo {
  left: 70% ;
  top: 40%;
}
.skill .fim {
  left: 7%;
  top: 70%;
}


.inter {width: 400px;
  height: 150px;
  position: absolute;
  right: 3%;
  bottom: 15%;
  border: 2px solid #629CCE;
  border-radius: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inter p {
  width: 200px;
  height: 30px;
  position: absolute;
  left: 5%;
  top: -7%;
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
}
.inter img {
  width: 80px;
  height: 80px;
  
}
.inter img:nth-child(1){}

.ft {width: 94%;
  height: 110px;
  position: absolute;
  bottom: 3%;
  left: 3%;
  border-radius: 28px;
  background-color: #629CCE;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #fff;
}
.ft img {
  position: absolute;
  width: 50px;
  height: 50px;
}
.ft p {margin-bottom: 10px;}
.ft .mail2 {
  
}

.ft .git {
  left: 27%;
  top: 8%;
}
.ft .mail {
  left: 77%;
  top: 8%;
}

.line {
  display: block;
  width: 60%;
  height: 50px;
  position: absolute;
  left: 3.2%;
  bottom: 30%;
}
.line p {position: absolute;
  width: 17%;
  height: 30px;
  font-size: 22px;
  text-align: center;
}
.line .txt1 {left: 2%;
  top: 100%;
}
.line .txt2 {left: 21%;
  top: 100%;
}
.line .txt3 {left: 43%;
  top: -150%;
}
.line .txt4 {left: 68.5%;
  top: 100%;
}
.line .txt5 {left: 90%;
  top: -200%;
}
.line2 {
  display: none;
  width: 4%;
  height: 20%;
  position: absolute;
  left: 48%;
  top: 25%;
}
.line2 p {position: absolute;
  width: 400%;
  height: 30px;
  font-size: 12px;
  text-align: center;
}
.line2 .txt6 {left: -450%;
  top: 5%;
}
.line2 .txt7 {left: 200%;
  top: 20%;
  width: 550%;
}
.line2 .txt8 {left: -450%;
  top: 40%;
  width: 400%;
}
.line2 .txt9 {left: 250%;
  top: 65%;
}
.line2 .txt10 {left: -450%;
  top: 85%;
}

/* pro1 설정 */
.pro1{
  width: 100%;
  height: 110vh;
  overflow: hidden;
  left: 0;
  top: 35%;
}
.pro1>div:nth-child(1) {width: 85%;
    margin: 0 auto;
    height: 85%;
    position: relative;
    z-index: 5;
}
.wb1 {display: block;}
.web1 {width: 700px;
    height: 700px;
    position: absolute;
    bottom: -25%;
    left: 3%;
    display: block;
}

.mob1 {display: none;

}

.pro1>div>.txt {position: absolute;
    font-size: 55px;
    color: #fff;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    width: 60%;
    height: 70%;
    
}
.pro1>div>.txt>p {position: absolute;}
.pro1>div>.txt>p:nth-child(1) {font-size: 25px;
  font-weight: normal;
  left: 14%;
  top: 18%;
}
.pro1>div>.txt>p:nth-child(2) {font-size: 55px;
  font-weight: bold;
  left: 14%;
  top: 35%;
}
.pro1>div>.txt>p:nth-child(3) {font-size: 23px;
  font-weight: lighter;
  left: 14%;
  top: 50%;
}


.pro1>div:nth-child(2) {width: 85%;
    margin: 0 auto;
    height: 15%;
    background-color: orange;
    position: relative;
    z-index: 3;
}
.btn1 {width: 200px;
    height: 50px;
    font-size: 35px;
    position: absolute;
    right: 5%;
    top: 10%;
    transition: all 0.2s;
    
    border-radius: 5px;
}
.btn1 a {color: #fff;
    font-family: 'GmarketSansMedium';
    padding-left: 5px;
    box-sizing: border-box;
}
.btn1 i {padding-left: 10px;
    box-sizing: border-box;
}


/* 
main>div:nth-child(1) {background-color: aliceblue;}
main>div:nth-child(2) {background-color:  red;}
main>div:nth-child(3) {background-color: blue;} */


/* pro2 설정 */
.pro2 {height: 110vh;

  overflow: hidden;
  left: 0;
  top: 55%;
}
.pro2>div:nth-child(1) {width: 85%;
    margin: 0 auto;
    height: 85%;
    position: relative;
}
.pro2 .txt {position: absolute;
  width: 60%;
  height: 70%;
  color: #fff;
  font-family: 'GmarketSansMedium';
  right: 0%;
  top: 0%;
  
  
}
.pro2>div>.txt>p {position:absolute;
  text-align: right;
}
.pro2>div>.txt>p:nth-child(1) {
  font-size: 25px;
  font-weight: normal;
  right: 14%;
  top: 18%;
}
.pro2>div>.txt>p:nth-child(1) {
  font-size: 25px;
  font-weight: normal;
  right: 14%;
  top: 18%;
}
.pro2>div>.txt>p:nth-child(2) {
  font-size: 55px;
  font-weight: bold;
  right: 14%;
  top: 35%;
}
.pro2>div>.txt>p:nth-child(3) {
  font-size: 23px;
  font-weight: lighter;
  right: 14%;
  top: 50%;
}


.pro2 .acer {height: 100%;}
.pro2>div:nth-child(2) {
  width: 85%;
  margin: 0 auto;
  height: 15%;
  background-color: #b200ff;
  position: relative;
}

.web2 {width: 800px;
  height: 600px;
  position: absolute;
  bottom: -15%;
  right: 3%;
  z-index: 5;
  
}
.mob2 {display: none;}



.btn2 {width: 200px;
  height: 50px;
  font-size: 35px;
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 7;
  transition: all 0.2s;
}
.btn2 a {color: #fff;
  font-family: 'GmarketSansMedium';
}
.btn2 i {padding-left: 10px;
  box-sizing: border-box;
}

/* pro3 설정 */
.pro3 {height: 110vh;
  left: 0;
  top: 75%;
  overflow: hidden;
}
.pro3>div:nth-child(1) {width: 85%;
    margin: 0 auto;
    height: 85%;
    position: relative;
}
.pro3>div>.txt {position: absolute;
  font-size: 55px;
  color: #fff;
  font-family: 'GmarketSansMedium';
  font-weight: bold;
  width: 60%;
  height: 70%;
  
}
.pro3>div>.txt>p {position: absolute;}
.pro3>div>.txt>p:nth-child(1) {font-size: 25px;
font-weight: normal;
left: 14%;
top: 18%;
}
.pro3>div>.txt>p:nth-child(2) {font-size: 55px;
font-weight: bold;
left: 14%;
top: 35%;
}
.pro3>div>.txt>p:nth-child(3) {font-size: 23px;
font-weight: lighter;
left: 14%;
top: 50%;
}
.pro3 .yuri {height: 100%;}
.pro3>div:nth-child(2) {
  width: 85%;
  margin: 0 auto;
  height: 15%;
  background-color: #f93486;
  position: relative;
}
.web3 {width: 700px;
  height: 500px;
  position: absolute;
  bottom: -13%;
  left: 3%;
  z-index: 5;
  
}
.mob3 {display: none;}


/* footer 설정 */
footer {width: 100%;
  height: 1100px;
  display: flex;
  align-items: flex-end;
}

.f_inner{width: 100%;
  height: 150px;
  background-color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top_btn {background-color:#000;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  z-index: -1;
  transition: all 1s;
  text-align: center;
}

.f_inner p {
  color: #fff;
  font-size: 27px;
  font-family: 'GmarketSans';
  font-weight: 300;
  margin-top: 10px;
}