/* 언어설정 */
@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: none;
}
body.fix {overflow: hidden;}  

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
.ui-datepicker {width: 75.5%;
  height: auto;
}
body {font-family: "Noto Sans KR", sans-serif;}

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a { color:#f00; }
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a { color:#00f; }



.link {
  position: fixed;
  right: 1%;
  top: 2%;
  width: 97px;
  font-size: 25px;
  font-weight: bold;
  background-color: #7ab551;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  color: #fff;
  z-index: 100;
}

.link-inner {
  position: fixed;
  right: 1%;
  top: -70%;
  width: 97px;
  height: 80vh;
  z-index: 10;
  opacity: 0;
  transition: all 1.5s;
  background-color: rgba(256, 256, 256, 0.9);
  
}
.link-inner ul {width: 80%;
  margin: 0 auto;
}
.link-inner li{font-size: 15px;
color: #000;
padding-bottom: 3px;
border-bottom: 1px solid  #000;
box-sizing: border-box;
margin-top: 10px;
font-family: "Noto Sans KR", sans-serif;
}
.link-inner li:hover {
  border-bottom: 2px solid  #000;
  box-sizing: border-box;
}

.link:hover .link-inner {
  top: 12.1%;
  opacity: 1;
}

.main {position: relative;}

/*############## 박스1 설정 ##############*/
.box1 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.box1-1 {
  width: 8%;
  height: 60%;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
}

.box1-1 img {
  width: 100%;
  height: 100%;
}


.box1-2 {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  font-size: 36px;
  color: #fe7e03;
  font-family: "Gugi", sans-serif;
}
.box1-3 {
  width: 40%;
  height: 60%;
}

.box1-4 {
  width: 100%;
  height: 27%;
}

.box1-3 .util {
  width: 100%;
  height: 100%;
}
.box1-4 .gnb {
  width: 100%;
  height: 100%;
  background-color: #ffdf82;
}
.util ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  box-sizing: border-box;
}
.util li {
  background-color: #7ab551;
  padding: 7px;
  box-sizing: border-box;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
}
.util li a {
  display: flex;
  color: #fff;
}
.util li a i {
  font-size: 27px;
}
.util .search>div {

  width: 500%;
height: 100%;
background-color: #fff;
position: absolute;
top: 0%;
left: -405%;
border: #fe7e03 1px solid;
border-radius: 10px;
transition: all 0.5s;
display: none;
}
#search {
  width: 201px;
  height: 37px;
  border-radius: 10px;
}
.m_util {display: none;}


.fa-chevron-down {
  padding-left: 7px;
  box-sizing: border-box;
}
.gnb ul {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gnb li {
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.gnb li:hover {
  background-color: #aaa;
}

/*############## 에약화면 설정 ##############*/

.fixed {position: fixed;
  width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
left: 0;
top: 0;
display: flex;
justify-content:center;
align-items: center;
z-index: 7;
flex-wrap: wrap;
display: none;}
.fixed.on {display: flex;}
.fixed article {
      width: 80%;
      height: 60vh;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      padding: 30px;

}
.fixed article p {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  font-size: 30px;
  text-align: center;
  line-height: 1.1;
  background-color: #ccc;
  cursor: pointer;
}
.fixed article p:hover {background-color: #fff;}
.fixed article ul {width: 60%;
              margin: 0 auto;
              list-style: none;}
.fixed article li {padding: 10px 20px;}
.guide {height: 20%;
  
        background-color: #45a049;
      color: #fff;}
.fim {width: 60%;
  height: 58%;
  margin: 0 auto;
} 
      .fixed article div img {width: 100%;
      height: 100%;}


/*############## 박스2 설정 ##############*/
.box2 {
  width: 100%;
  height: 950px;
  
  position: relative;
  z-index: 10;
  font-family: 'Noto Sans KR', sans-serif;

}
.box2-1 {
  width: 100%;
  height: 87%;
}
.hero {width: 100%;
      height: 100%;
    overflow: hidden;
    position: relative;
  }
.box2-1 .hero-inner {
  display: flex;
  width: 270%;
  height: 98%;
  position: absolute;
  left: -85%;
  top: 0;
}
.hero  img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.box2 .form {
  width: 100%;
  height: 8%;
  border-top: 2px solid #fe7e03;
  border-bottom: 2px solid #fe7e03;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}
.form .info {
  position: absolute;
  top: 6%;
  left: 80%;
  font-size: 18px;
}
.form-inner {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  display: flex;
}
.form-inner > div {
  display: flex;
  align-items: center;
}
.form1 {position: relative;}
.form1 > div {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}


.form1 > div:nth-child(1) {
  border: #fe7e03 1px solid;
  margin-top: 40px;
}


.form1 .pop {position: absolute;
        top: 150%;
      left: 0;
    width: 86%;
  height: 218px;
  background-color: rgba(256, 256, 256, 0.8);
  padding-top: 20px;
  border-radius: 5px;
  box-sizing: border-box;
display: none;}
.form1 .pop li {padding: 5px 0;
width: 80%;}
.form1 .pop li:hover {background-color: #fff;
color: #fe7e03;}
.form1 .acts {
  
  font-size: 30px;
  padding-right: 10px;
  box-sizing: border-box;
}
.form1 .acts i {
  padding-left: 10px;
  box-sizing: border-box;
  color:#fe7e03;
  margin-top: 40px;
}
.form2 {
  position: relative;
  width: 330px;
  height: 80px;
}
.form2 > div {
  width: 300px;
  height: 40px;
 
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;

}
.form2 > div:nth-child(1) {
  border: #fe7e03 1px solid;
}
.form2 .date {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  
}
.form2 .date i {
  color: #fe7e03;
}
.form2 .cal001 {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 75%;
  left: -3%;
}


.form3 {
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
.form3 .top {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
}
.form3 i,
.num {
  width: 33.3333%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
}
.form3 i {
  font-size: 30px;
  text-align: center;
}
.form3 .num {
  text-align: center;
  font-size: 20px;
}

.form4 {
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.form4 .top {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
}
.form4 i,
.num {
  width: 33.3333%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
}
.form4 i {
  font-size: 30px;
  text-align: center;
}
.form4 .num {
  text-align: center;
  font-size: 20px;
}

.form5 {
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.form5 .top {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  box-sizing: border-box;
}
.form5 i,
.num {
  width: 33.3333%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
}
.form5 i {
  font-size: 30px;
  text-align: center;
}
.form5 .num {
  text-align: center;
  font-size: 20px;
}
.form-inner i {
  color: #f99f4c;
}
.form-inner .fa-search {
  color: #000;
}
.form-inner i,
.form1,
.form2 {
  cursor: pointer;
}

.form-inner .btn {
  margin: 20px 0 0 70px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ab551;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}
.form-inner .btn:hover {
  background-color: #fff;
  color: #7ab551;
  border: #7ab551 1px solid;
}

/* banner 설정 */
.banner {
  width: 100%;
  height: 220px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
}
.banner p {
  width: 150px;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #fff;
  background-color: #222;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 5%;
  bottom: 10%;
  opacity: 0.8;
  cursor: pointer;
}
.banner p:hover {
  background-color: #111;
  opacity: 1;
}

/*############## 박스3 설정 ##############*/
.box3 {
  width: 100%;
  height: 400px;
  padding: 20px 0;
  box-sizing: border-box;
}
.box3-1 {
  width: 80%;
  margin: 0 auto;
}
.titleBox li.on {
  border-bottom: 2px solid #000;
  font-weight: bold;
}
.box3-1 ul {
  display: flex;
}
.box3-1 li {
  width: 120px;
  height: 50px;
  background-color: #ffbd7f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
}
.box3-1 li:nth-child(2) {
  margin-left: 5px;
}
.box3-1 li:nth-child(3) {
  margin-left: 5px;
}
.box3-1 li:hover {
  border-bottom: 2px solid #000;
}

.box3-2 {
  background-color: #ffbd7f;
  width: 80%;
  margin: 0 auto;
  height: 86%;
  border-radius: 0 10px 10px 10px;
}

.box3-2 .notice {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notice li {
  display: flex;
  width: 86%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
}
.notice li > div {
  border-bottom: #000 1px solid;
}
.notice li > div:nth-child(1) {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  box-sizing: border-box;
}
.notice li > div:nth-child(2) {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box3-2 .preview {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview li {
  display: flex;
  width: 86%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
}
.preview li > div {
  border-bottom: #000 1px solid;
}
.preview li > div:nth-child(1) {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  box-sizing: border-box;
}
.preview li > div:nth-child(2) {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.box3-2 .event {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event li {
  display: flex;
  width: 86%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
}
.event li > div {
  border-bottom: #000 1px solid;
}
.event li > div:nth-child(1) {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  box-sizing: border-box;
}
.event li > div:nth-child(2) {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/*############## 박스4 설정 ##############*/
.box4 {
  background-color: #faa931;
  width: 100%;
  height: 1000px;
}
.box4-1 {
  width: 100%;
  height: 10%;
}
.box4-2 {
  width: 90%;
  margin: 0 auto;
  height: 85%;
  padding-top: 1%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 75%;
}
.container ul {
  width: 240%;
  height: 100%;
  display: flex;
}
.container li {
  width: 80%;
  height: 100%;
}
.container img {
  width: 100%;
  height: 100%;
}

/* 슬라이드용 */
/* .container img:nth-child(1) {left: 0;}
.container img:nth-child(2) {left: 80%;}
.container img:nth-child(3) {left: 160%;} */

.trailer {
  width: 100%;
  height: 20%;
  margin-top: 1.5%;
  position: relative;
}
.trailer ul {
  display: flex;
  width: 130%;
  height: 100%;
  position: absolute;
  left:0;
  top: 0;
  transition: all 0.5s;
}
.trailer li {
  width: 12%;
  height: 90%;
  margin-left: 20px;
}
.trailer > ul > li:nth-child(1) {
  background-image: url(img/train1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
}
.trailer > ul > li:nth-child(2) {
  background-image: url(img/train2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(3) {
  background-image: url(img/train3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(4) {
  background-image: url(img/train4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(5) {
  background-image: url(img/train5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(6) {
  background-image: url(img/train6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(7) {
  background-image: url(img/train7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(8) {
  background-image: url(img/train8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(9) {
  background-image: url(img/train9.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(10) {
  background-image: url(img/train10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(11) {
  background-image: url(img/train11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(12) {
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trailer > ul > li:nth-child(13) {
  background-image: url(img/tan_illu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.trailer img {
  width: 100%;
  height: 100%;
}

.box4-2 .left {
  background-color: #000;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  top: 32%;
  left: 1%;
  cursor: pointer;
}
.box4-2 .left:hover {
  opacity: 1;
}
.box4-2 .right:hover {
  opacity: 1;
}
.box4-2 .right {
  background-color: #000;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  top: 32%;
  right: 1%;
  cursor: pointer;
}
.box4-2 i {
  font-size: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
}

/* 박스5 설정 */
.box5 {
  width: 100%;
  height: 1000px;
  display: flex;
  background-image: url(img/jungle.jpg);
  background-attachment: fixed;
}
.box5 > div {
  width: 50%;
  height: 90%;
  margin-top: 50px;
  box-sizing: border-box;
}


/* 피그마 디자인 */
/* .box5-1 {
  border-top: 7px solid #f99f4c;
  border-right: 4px solid #f99f4c;
  border-bottom: 7px solid #f99f4c;
}
.box5-2 {
  border-top: 7px solid #f99f4c;
  border-left: 4px solid #f99f4c;
  border-bottom: 7px solid #f99f4c;
} */

.box5-1-inner {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  height: 90%;
  border-radius: 17%;
  background-color: #fe7e03;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.box5-1-inner > div:nth-child(1) {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  box-sizing: border-box;
}
.box5-1-inner > div:nth-child(1) h2 {
  font-size: 33px;
}
.box5-1-inner > div:nth-child(2) {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.box5-1-inner > div:nth-child(2) i {
  font-size: 37px;
  cursor: pointer;
}

.box5-1-inner > div:nth-child(3) {
  width: 40%;
  margin: 0 auto;
  height: 77%;
  background-color: bisque;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box5-1-1 h2 {
  padding-top: 30px;
  box-sizing: border-box;
  text-align: center;
}
.box5-1-1>div {
  width: 80%;
  height: 40%;
  margin-top: 10px;
}

.box5-1-1>div img {
  width: 100%;
  height: 100%;
}
.box5-1-1 p {width: 80%;
margin-top: 20px;}


.box5-1-inner > div:nth-child(4) {
  width: 40%;
  margin: 0 auto;
  height: 77%;
  background-color: bisque;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box5-1-2 h2 {
  padding-top: 30px;
  box-sizing: border-box;
  text-align: center;
}
.box5-1-2>div {
  width: 80%;
  height: 40%;
  margin-top: 10px;
}

.box5-1-2>div img {
  width: 100%;
  height: 100%;
}
.box5-1-2 p {width: 80%;
margin-top: 20px;}

.box5-2-inner {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  height: 90%;
  border-radius: 17%;
  background-color: #fe7e03;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.box5-2-inner > div:nth-child(1) {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  box-sizing: border-box;
}
.box5-2-inner > div:nth-child(1) h2 {
  font-size: 33px;
}
.box5-2-inner > div:nth-child(2) {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.box5-2-inner > div:nth-child(2) i {
  font-size: 37px;
  cursor: pointer;
}

.box5-2-inner > div:nth-child(3) {
  width: 80%;
  margin: 0 auto;
  height: 33%;
  background-color: bisque;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box5-2-inner > div:nth-child(3) h2 {width: 50%;
height: 20%;
padding-top: 1%;
box-sizing: border-box;
text-align: center;}
.box5-2-inner > div:nth-child(3) h3 {width: 50%;
height: 20%;
padding-top: 3%;
box-sizing: border-box;}
.box5-2-inner > div:nth-child(3) p {width: 40%;
  margin: 0 auto;
height: 70%;}
.box5-2-inner > div:nth-child(3) ol {width: 50%;
height: 80%;}
.box5-2-inner > div:nth-child(3) img {width: 100%;
height: 100%;}

.box5-2-inner > div:nth-child(4) {
  width: 80%;
  margin: 0 auto;
  height: 33%;
  background-color: bisque;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box5-2-inner > div:nth-child(4) h2 {width: 50%;
height: 20%;
padding-top: 1%;
box-sizing: border-box;
text-align: center;}
.box5-2-inner > div:nth-child(4) h3 {width: 50%;
height: 20%;
padding-top: 3%;
box-sizing: border-box;}
.box5-2-inner > div:nth-child(4) p {width: 40%;
  margin: 0 auto;
height: 70%;}
.box5-2-inner > div:nth-child(4) ol {width: 45%;
height: 80%;
margin-right: 5%;
}
.box5-2-inner > div:nth-child(4) li {
  font-size: 15px;
}
.box5-2-inner > div:nth-child(4) img {width: 100%;
height: 100%;}

/* 박스6 설정 */
.box6 {width: 100%;
height: 500px;
padding-top: 25px;
box-sizing: border-box;}

.box6-inner {
  width: 80%;
  margin: 0 auto;
  height: 90%;
  background-color: #7ab551;
  border-radius: 15px;
  display: flex;
}

.box6-inner>div:nth-child(1){
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box6-inner>div:nth-child(1)>p {height: 20%;
  width: 80%;
  margin: 0 auto;
margin-top: 25px;}
.box6-inner>div:nth-child(1) h2 {
  margin-top: 25px;
  font-size: 30px;
}
.box6-inner>div:nth-child(2){
  width: 70%;
  height: 100%;
}
.box6-inner>div:nth-child(2) iframe{
  width: 98%;
  margin: 0 auto;
  height: 95%;
  padding-top: 2.5%;
  box-sizing: border-box;
}


/* footer 설정 */
footer {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  
}

footer>div {
  width: 50%;
  padding-top: 2%;
  box-sizing: border-box;
}
footer>div p {font-size: 15px;}

footer>div:nth-child(1) ul {
  display: flex;
  justify-content: space-around;
}
footer>div:nth-child(2) {
  padding-left: 5%;
  box-sizing: border-box;
}

footer>div:nth-child(2) p:nth-child(2){
  padding-top: 10px;
  box-sizing: border-box;
}

.popUp {position: fixed;
  width: 100%;
  height: 100%;
background-color: rgba(255, 255, 255, 0.8);
z-index: 60;}